*
!*.c
!*.h
!*.pl
!*.txt
!*.sh
!Makefile
!.gitignore
!apisrc
!compat
!lwip
!src
!test
!api
!apps
!core
!Filelists.mk
!include
!netif
!new_api_tests
!arch
!CMakeLists.txt
!apisrc/FhBook
SmartNIC_SW/driver/smartnic.mod.c
SmartNIC_SW/driver/ekaline_build_time.h
SmartNIC_SW/tools/fbupdate/build-number.txt





